server:
  retention: "2d"
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: "hcloud-volumes"
  ingress:
    enabled: false
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    ingressClassName: "nginx"
    hosts:
      - prometheus.achaemenid.nl
    path: /
    tls:
      - secretName: prometheus-server-tls
        hosts:
          - prometheus.achaemenid.nl

alertmanager:
  enabled: false
kube-state-metrics:
  enabled: false
prometheus-pushgateway:
  enabled: false